<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/dashboard.css"/>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>

<link href="./node_modules/boxicons/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="contain">
<div class="sidebar">
    <br>
    <center>
    <img src="images/logo.png" class="logo"></center>
    <br>    
<nav>
<ul>
  <li class="hr1">&nbsp;</li>
   <li class="nav-item active" id="dashboard">
       <i class="bx bxs-dashboard"></i>
       <span>Dashboard</span>
   </li>
   <li class="nav-item" id="Adicionar">
       <i class="bx bx-list-plus"></i>
       <span>Adicionar</span>
   </li>
   <li class="nav-item" id="funcionarios">
       <i class="bx bxs-user"></i>
       <span>Funcionarios</span>
   </li>
   <li class="nav-item" id="Inserir">
       <i class="bx bxs-user-plus"></i>
       <span>Inserir Nome</span>
   </li>

   <li class="nav-item" id="config">
       <i class="bx bxs-cog"></i>
       <span>Configurações</span>
   </li>
   <li class="hr1">&nbsp;</li>
     <li class="nav-item" id="logout">
       <i class="bx bxs-door-open"></i>
       <span>logout</span>
   </li>
</ul>
</nav>
</div>
<div class="mainf" id="mainf"></div>
</div>
<script src="javascripts/dashboard.js"></script>
</body>
</html>