html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  background:url('../images/1.png');
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.fundo-t{
  background-color: rgba(10,10,10,0.7);
}
.navbar input[type="username"] {
  width:200px;
  height: 35px;
  text-align: center;
  border-radius: 7px;
}
.navbar input[type="password"] {
  width:200px;
  height: 35px;
  text-align: center;
  border-radius: 7px;
}
.navbar input[type="submit"] {
  height: 35px;
  text-align: center;
  border-radius: 7px;
}
.table-rounded{
	border-radius: 5px;
}
.result{
  margin-right: 10px;
  height: 35px;
  border:0px;
  color: #ff0019;
}